body {
    font-family: "맑은 고딕", "고딕", "굴림";
}

header {
    background-color: aquamarine;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px; */
    /* padding: 10px 30px 50px 100px; */
    overflow: hidden;
}

h1 {
    font-size: 2em;
    /* background-color: gold; */
}

/* header 의 자손인 h1 태그에 적용 */
header h1 {
    color: blue;
    width: 40%;
    float: left;
}

/* header 의 자식인 nav 태그에 적용 */
header > nav{
    /* background-color: bisque; */
    width: 50%;
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    /* background-color: aqua; */
    display: inline;
    float: left;
    margin: 15px;                                                                                                                 
}

a { /* nav a or nav ul li a */
    text-decoration: none;
    color: blue;
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto; /* 영역 가운데 정렬 */
    border: 5px solid #333;
    /* border-width: ;
    border-style: ;
    border-color: ; */
    padding: 5px;
}

h2 {
    font-size: 1.8em;
    padding: 15px;
    border-radius: 3px;
    box-shadow: -3px 3px 3px 0px rgb(198, 198, 198); 
}

h3 {
    font-size: 1.3em;
    padding: 15px 0px 15px 0px;
    border-left: 8px solid rgb(242, 56, 146);  
}

p {
    font-size: 15px;
    line-height: 30px;
    margin: 20px;
}

dl {
    line-height: 30px;
    padding-left: 30px; /* padding은 안쪽 */
    margin-right: 30px; /* margin은 바깥쪽 */
}

dt {
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(33, 200, 200);
}

article ul {
    line-height: 30px;
}

footer {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(41, 41, 41);
    width: 80%;
    padding: 10px;
    color: white;
    text-align: center;
}





